:root{
    --dark-background-color: rgb(23,28,50);
    --dark-background-color-opacity: rgba(23,28,50,0.9);
    --secondry-background-color :rgb(37,44,72);
    --text-white :rgb(255,255,255);
    --main-color : rgb(70,120,232);
}

body{
    overflow-x: hidden;
}