.portfolio{
    width: 100%;
    text-align: center;
}

.portfolio h1{
    font-size: 45px;
    text-transform: uppercase;
    margin: 90px 0 40px 0;
}

.portfolio h1 span{
    color: var(--main-color);
}

.portfolio_tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

